extends /sidebar

mixin formatInput(name, label, placeholder)
  .control-group
    label.control-label(for=name)= label
    .controls
      input(id=name, name=name, value=data[name], placeholder=placeholder)

block title
  | Payments

block content
  h2 Payments

  table.table.table-striped
    tr
      th User
      th Date
      th Type
      th Amount
      th Subscription From
      th Duration (months)
    each payment in payments
      tr
        td
          a(href="/people/#{payment.user.id}")= payment.user.username
        td= payment.when.toISOString().substr(0,10)
        td= payment.type
        td= payment.amount
        td= payment.period_from.toISOString().substr(0,10)
        td= payment.period_count
    else
      tr
        td(colspan=6) No payments yet.

  h3 Settings
  form.form-horizontal(method="POST")
    +formatInput("payee", "Payee", "So Make It Ltd.")
    +formatInput("sortCode", "Sort Code", "00-00-00")
    +formatInput("accountNumber", "Account Number", "0000 0000")

    .control-group
      .controls
        button.btn-success(type="Submit") Save
